<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am currently a student persuing a bachelor's degree in Computer Science & Software Engineering while attending Maynooth University. I feel that from my projects and other work within my college i feel that i am  perfectly competent regarding my skills in Java as well as other languages such as HTML, CSS and SQL.
        </p>
        <p>
           I love interaction.
           While working alone is always the easier task as you're able to keep ontop of things yourself and not manage others,
           I'm most attracted to unity within the workplace and unity in projects as i feel it's both a good learning experience and an efficient way to work.
           I'm looking for an internship position within Software Engineering regarding java and wish to gain experience with other senior or junior developers so i can improve my skills as a developer as well as become fully exposed to the industry.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Awarded a "Highly Commended" award at the "BT Young Scientist Exhibition" in 2014 for my project entitled 'How to build your own custom Linux Operating System' (Aged 14).
    			</li>
          <li>
            Came 28th out of 1000 applicants in the 'Google Call to Code' competition of 2014 (Aged 15).
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
    			<li>
            Created my own <a href = "https://play.google.com/store/apps/details?id=com.beyzoc.vibrance">Application</a> for Android users to help select Wallpapers for the user based on what the user likes Categorically.
    			</li>
    			<li>
            Designed and Developed an <a href ="https://tnsseasons.com"> E-Commerce website</a> that sells iPhone Cases.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
