<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning and AI</b>. It's an exciting time for machine learning. I'm working through several online classes and tutorials, as well as swapping ideas and concepts with other people interested on this topic online.
			  </li>
			  <li>
				  <b>Rugby</b>. I've been a huge fan of rugby since i was young - Currently I am attending Maynooth University and playing for the college on a Scholarship. I am also playing for my local club MU Barnhall for U20s and U23s.
			  </li>
			  <li>
				  <b>Formula 1</b>. I have always been passionate about formula 1 regarding the sport itself and the physics and technology that goes into the cars each year.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				<a href="https://play.google.com/store/apps/details?id=com.beyzoc.vibrance">Vibrance</a> is an Android application that gives the user the pleasure to picking the wallpaper that suits them best. Vibrance looks to the community to help find wallpapers they think that are necessary for one to have. Vibrance also includes a blurr feature to help make the wallpaper appear in the background of your phone more rather than distracting you with it being in the foreground. Vibrance also has a variety of social features allowing people to share, like and comment on their favourite wallpapers. 
    		</li>
  			<li>
				<a href="https://tnsseasons.com">T&S Seasons</a> is an E-Commerce website designed and developed by me to sell iPhone cases world wide at cheap prices. My idea was to make this website as accessible and user friendly as possible.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Member of MU Barnhall RFC.
  			</li>
  			<li>
  			  Active member of MU Computer Science Society.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
